/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ==== Transition 
========================= */
input[type="text"],
input[type="password"],
textarea{-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease;}


/* ==== Common rules 
========================= */
body{font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#585C61;}
a:link, a:visited{color:#FF5500; text-decoration:none; outline:none;}
input,select,option,button,textarea,fieldset{font-family:Arial, Helvetica, sans-serif;}
a:hover, a:active{color:#383838;}
strong{font-weight:bold;}
.clear{clear:both}
#logo{display: block;width: 36px;height: 65px;margin:20px auto 0;}
#container{width:90%; margin:0 auto; overflow:hidden;}
#header{border-bottom:1px dotted #ccc; padding-bottom:20px; margin:20px auto 50px;width:600px;}
h1{font-family:'Maven Pro', sans-serif; font-size:50px; letter-spacing:-1px; color:#FF5500; text-align:center;}
#description{text-align:center; line-height:22px; margin-top:20px;}
#description:before{content:"(";}
#description:after{content:")";}








