
/*
	Tutorial provided by upCreative 
	30/09/2013 - Giacomo Freddi - Http://www.upcreative.net
*/

body, html{
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 100;
	overflow: hidden;
}

article > div{
	text-align: center;
	margin-bottom:10px;
	}
	article > div a{
		padding:10px 12px;
		font-size: 1.3em;
		display: inline-block;
		text-decoration: none;
		color: #585D63;		
		border:1px solid #585D63;		
		background: transparent;		
		-moz-border-radius: 6px;
		border-radius: 6px;
	}
	article > div a:hover{
		color:#397AFC;
		border-color:#397AFC;
	}

/*barra di navigazione*/

	/* la barra di navigazione viene impostata in cima al documento per visualizzare il titolo della pagina e il pulsante  */
	nav {
	  top: 0;
	  height: 44px;
	  padding:0;	  	  
	  background-color: #F7F7F7;
	  border-bottom: 1px solid #A7A7AA;	  	  
	  position: relative;  
	}
	
	/* Il titolo viene centrato nella barra di navigazione */
	nav .title {
	  position: absolute;
	  top: 0;
	  left: 0;
	  display: block;
	  margin:0;
	  width: 100%;
	  font-size: 18px;
	  font-weight: 100;
	  line-height: 44px;
	  color: #333;
	  text-align: center;
	  white-space: nowrap;
	}
	
	/*stili dei pulsanti della navbar*/
	
	nav .title + button {
      /* allineamo a destra tramite posizionamento assoluto il pulsante che viene subito dopo il titolo della navbar */
	  position: absolute; 
	  top: 5px;
	  right: 5px;
	  
	  /* impostaiamo lo z-index per visualizzare i pulsanti sopra l'elemento del title */
	  z-index: 10; 
	  
	  /*impostiamo uno stile flat*/
	  border-radius:4px;
	  padding:6px 8px;
	  border:none;	
	  color: #397AFC;
	  background: transparent;	  
	}
	nav .title + button:active{
		color: #7BB6FB;
	}
	
/* stili del corpo della pagina */
	
	article {
	  position: fixed;
	  top: 45px;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  overflow: auto;
	  background: #EFEFF4;
	  padding-top:20px;
	  
	  -webkit-transition: -webkit-filter .15s ease;
	          		  transition: filter .15s ease;
	}
	
	
	body.open-overlay article{
		-webkit-filter:blur(15px);
		filter: blur(15px);
	}
	
	body.close-overlay article{
		-webkit-filter:none;
		filter:none;
	}
	
/* stili della lista */

	.list {
	   list-style: none;
	   margin: 0 0 10px 0;
	   padding: 0;
	   border-top: solid 1px #c8c8c8;
	   border-bottom: solid 1px #c8c8c8;
	   background-color: #fff;
	   overflow: hidden;
	   width: 100%;
	}
	.list > li {
	   padding: 13px 15px 13px 15px;
	   -webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	   transition: all .3s ease-out;
	   position: relative;
	   background-color: #fff;
	   font-size: 12pt;
	}
	.list img{
		float:left;
		margin: 0 10px 10px 0;
	}
	.list h3,
	.list h4,
	.list p{
		font-size: 0.9em;
		margin:5px 0;
	}
		
	.list > li::before {
	   content: '';
	   display: block;
	   position: absolute;
	   bottom: 0px;
	   left: 15px;
	   right: 0px;
	   border-bottom: solid 1px #c8c8c8;
	}
	
	/* simbolo info */
	
	.list > li.show-detail::after {
	   content: 'i';
	   display: block;
	   height: 20px;
	   width: 22px;
	   border-radius: 20px;
	   border: solid 1px #007aff;
	   color: #007aff;
	   font: bold 14px/0 'Times', serif;
	   -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   box-sizing: border-box;
	   padding: 10px 8px;
	   position: absolute;
	   top: 10px;
	   right: 15px;
	}
	
	
	

/* stili per l'overlay */
	section {
	  position: absolute;
	  left: 0;
	  top: 44px;	  
	  right: 0;	
	  bottom:0;  
	  background-color: rgba(156,159,164,.5);	  
	  padding:20px;
	  text-align: center;
	  
	  visibility: hidden;
	  
	  /* migliora le prestazioni prevenendo il render della parte 'posteriore' dell'elemento */
	  -webkit-backface-visibility: hidden;
	  -moz-backface-visibility: hidden;
	  -ms-backface-visibility: hidden;
	   backface-visibility: hidden;
	   
	   /* accelerazione hardware */
	   -webkit-transform: translate3d(0,0,0);
	   -moz-transform: translate3d(0,0,0);
	   -ms-transform: translate3d(0,0,0);
	   transform: translate3d(0,0,0);			   
	}	
	
	body.open-overlay section{
		-webkit-animation: showFromBottom .25s ease both;
		-moz-animation: showFromBottom .25s ease both;
		animation: showFromBottom .25s ease both;
		
		visibility: visible;
	}
	
	body.close-overlay section{
		-webkit-animation: hideToBottom .25s ease both;
		-moz-animation: hideToBottom .25s ease both;
		animation: hideToBottom .25s ease both;
	}
	
	/* definizione delle animzioni dell'overlay  */
	
	@-webkit-keyframes showFromBottom {
		from { -webkit-transform: translateY(100%); }
	}
	@-moz-keyframes showFromBottom {
		from { -moz-transform: translateY(100%); }
	}
	@keyframes showFromBottom {
		from { transform: translateY(100%); }
	}
	
	
	@-webkit-keyframes hideToBottom {
		to { -webkit-transform: translateY(100%); }
	}
	@-moz-keyframes hideToBottom {
		to { -moz-transform: translateY(100%); }
	}
	@keyframes hideToBottom {
		to { transform: translateY(100%); }
	}

	
/*qualche stile per il bottone di chiusura*/

	section button{
		padding:10px 12px;
		font-size: 1.3em;
		color: #585D63;		
		border:1px solid #585D63;		
		background: transparent;		
		-moz-border-radius: 6px;
		border-radius: 6px;
		
		-webkit-transition: all .35s ease-out;
		   -moz-transition: all .35s ease-out;
		        transition: all .35s ease-out;
		        
		display: none;
		
		}
		section button.close-overlay:hover{
			color: #FFFFFF;		
			border-color:#FFFFFF;
			-webkit-transition: none;
		       -moz-transition: none;
		            transition: none;
		}
	
	body.open-overlay button,
	body.close-overlay button{
		display: inline-block;
	}	

	