/* Color set macroaree  */
$red:   #c31a1f;
$green: #77932c;
$yellow:#eab808;
$lilla: #9e93bf;
$black: #000000;
$blue:  #05569d;
$azure: #0088c5;

/* Color set Suburban Raylways */
$s1:    #c53330;
$s2:    #009480;
$s3:    #970237;
$s4:    #a2bd30;
$s5:    #da8d1b;
$s6:    #e9cd00;
$s8:    #e5b5b2;
$s9:    #923c87;
$s11:   #9d9dc7;
$s13:   #976c1d;